<html lang="pt-br">
  <head>
      <meta charset="UTF-8">
      <style>
        {{styleSheet}}
      </style>
  </head>
  <body>
    <div class="{{classes.wrapper}}">
      <h1 class="{{classes.title}}">Olá, {{name}} {{nick}}!</h1>
      <a
        class="{{classes.link}}"
        href="http://cssinjs.org/"
        traget="_blank"
      >
        See docs
      </a>
  </div>
  </body>
</html>  